!!! 5
%html
  %head
    %title Форма
    %meta{ "http-equiv" => "X-UA-Compatible", :value => "IE=8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :value => "IE=9" }
    = stylesheet_link_tag    "public/frontier", :media => "all"
    = javascript_include_tag "public/frontier"
    = yield :js
    = yield :css
    = csrf_meta_tags
    - if @version.form_data['google_id'] && @version.form_data['google_id'].is_a?(String)
      = "<script type=\"text/javascript\">var _gaq = _gaq || [];_gaq.push(['_setAccount', '#{@version.form_data['google_id']}']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>".html_safe

  %body
    - if @version.form_data['clicktale_id'] && @version.form_data['clicktale_id'].is_a?(String)
      <script type='text/javascript'> var WRInitTime=(new Date()).getTime();</script>

    - if @version.form_data['yandex_id'] && @version.form_data['yandex_id'].is_a?(String)
      = "<!-- Yandex.Metrika counter --><script type=\"text/javascript\">(function (d, w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter = new Ya.Metrika({id:#{@version.form_data['yandex_id']}, enableAll: true});} catch(e) {}});var n = d.getElementsByTagName(\"script\")[0],s = d.createElement(\"script\"),f = function () { n.parentNode.insertBefore(s, n); };s.type = \"text/javascript\";s.async = true;s.src = (d.location.protocol == \"https:\" ? \"https:\" : \"http:\") +\"//mc.yandex.ru/metrika/watch.js\";if (w.opera == \"[object Opera]\") {d.addEventListener(\"DOMContentLoaded\", f);} else { f(); }})(document, window, \"yandex_metrika_callbacks\");</script><noscript><div><img src=\"//mc.yandex.ru/watch/#{@version.form_data['yandex_id']}\" style=\"position:absolute;left:-9999px;\" alt=\"\" /></div></noscript><!-- /Yandex.Metrika counter -->".html_safe

    .main
      = yield

      #calendar<
        %span.header>
          %select<
          %img.left{ :src => "/assets/flat-arrow-left.png" }
          %span —
          %img.right{ :src => "/assets/flat-arrow-right.png" }
        %ul.days

      #humanfactor.custom_form{ :style => "display: none" }<
        %h2#hf-message
          Система внесла изменения, пожалуйста, проверьте их корректность:
          %br/
          если все изменения корректны, нажмите кнопку «Далее»,
          %br/
          или внесите изменения в поля, доступные для редактирования:
        %ul#hf-items
        %p.required
          %span.req> *
          Поля обязательные для заполнения
        %ul
          %li
            %button.next.float-right#hf-button Далее

    - if @version.form_data['clicktale_id'] && @version.form_data['clicktale_id'].is_a?(String)
      <div id='ClickTaleDiv' style='display: none;'></div>
      %script
        document.write(unescape("%3Cscript%20src='"+(document.location.protocol=='https:'?'https://clicktale.pantherssl.com/':'http://s.clicktale.net/')+"WRd.js'%20type='text/javascript'%3E%3C/script%3E"));</script><script type=\"text/javascript\">var ClickTaleSSL=1;if(typeof ClickTale=='function') ClickTale('#{@version.form_data['clicktale_id']}',1,"www14");
