- if @version.present?
  - content_for :js do
    = javascript_include_tag public_js_data_path(:version_id => @version.id, :public_hash => @version.order.public_hash)
    = javascript_include_tag "shared/neatforms/makefile.js"
    = javascript_include_tag "config_#{@version.description.gsub(/\W/, "").downcase}.js"

  - unless @version.order.skin.custom_css.to_s.empty?
    - content_for :css do
      = stylesheet_link_tag public_css_data_path(:version_id => @version.id, :public_hash => @version.order.public_hash), :media => "all"
      / = stylesheet_link_tag "homecredit_iceberg", :media => "all"

  #previewer
    .neatform
      %h2
        %a{:name => 'title'}
        = @version.form_data["header"]
    = @version.form.render params, @url_params
    #clock{ :style => "display: none "}
    %h3#thankyou{ :style => "display: none" }
      %strong Спасибо за заполнение заявки!
      Ваша заявка обрабатывается.<br />Вы получите ответ через 60 секунд.

    #hover_error{ :style => "display: none" }
      %span.corner.tl
      %span.corner.tr
      %span.corner.bl
      %span.corner.br
      %span.pip
      %span.content OH HAI
    #big_loader
